# Virtual Environments
.venv/
venv/
env/
ENV/
buildenv/
testenv/

# Python and Pytest Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/